@import url("../Partials/reset.css");
@import url("../Partials/header.css");
@import url("../Partials/Main.css");
@import url("../Partials/Footer.css");

html{
    font-family: "Montserrat";
    font-size: 20px;
    box-sizing: border-box;
}
