.piepagina{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    font-size: medium;
    background-color: #030623;
}
.piepagina li{
    color: white;


}
.avisos{
    color: white;
    text-decoration: none;

}
.avisos:hover{
    color: rgb(239, 101, 9) ;
}
.flecha{
    font-size: 30px;
    color:rgb(239, 101, 9);
    position: fixed;
    right: 10px;
    bottom: 55px;
}


