
.encabezado{
    background-color: #030623;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;

}
.contacto{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.contacto i{
    border: none;
    margin-top: 20px;
    color: rgb(213, 101, 20);
}

.enlace{
    display: none;
}

.cabecera2{
    margin: 5px;
}
.cabecera2 i{
    font-size: 30px;
    color: rgb(164, 162, 162);
}
.cabecera2 i:hover{
    transform: rotate(90deg);
}
.encabezado2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width: 80px;
    height: 25px;
}

.menu2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid rgb(164, 162, 162);
    width: 90%;
    margin: 10px;

}

.menu2:last-child{
    border: none;
}

.enlace2{
    height: 100%;
    padding: 20px;
    color: rgb(163, 159, 159);
    text-decoration: none;

}
.enlace2:hover{
    color:rgb(239, 101, 9) ;
}
.naranja{
    color:rgb(239, 101, 9) ;
    text-decoration: none;
    padding: 20px;
}