
.encabezado{
    background-color: #030623;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.contacto i{
    border: none;
    margin: 15px;
    color: rgb(213, 101, 20);

}

.enlace{
    text-decoration: none;
    color: white;
    display: none;
}

.cabecera2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}
.logo{
    width: 80px;
    height: 25px;
}
.menu{
    width: 40px;

}

.menu2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid rgb(164, 162, 162);
    width: 90%;
    margin: 20px;
}

.menu2:last-child{
    border: none;
}

.enlace2{
    height: 100%;
    padding: 20px;
    color: rgb(163, 159, 159);
    text-decoration: none;

}
.enlace2:hover{
    color:rgb(239, 101, 9) ;
}
.naranja{
    color:rgb(239, 101, 9) ;
    text-decoration: none;
    padding: 20px;
}